{% extends "juice/templates/index.html" %}
{% block favicon %}
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
{% endblock favicon %}
{% block hero %}
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <section class="text-center welcome">
    <h1 class="heading-text">Polarity-Lang</h1>
    <h3 class="title-text">
      A research language focused on dependent data and codata types
    </h3>
    <p>
      <a class="github-button" href="https://github.com/polarity-lang/polarity" data-size="large"
      data-show-count="true" aria-label="Star polarity-lang/polarity on GitHub">Star</a>
    </p>
  </section>
<img class="hero-image" style="width: 25%" src="{{ get_url(path="logo_transparent.svg") }}">

{% endblock hero %}

{% block content %}
{{ section.content | safe }}
{% endblock content %}

{% block footer %}
<footer>
  <small class="subtext">
    Created by the <a href="https://github.com/polarity-lang/">polarity-lang</a> team.
  </small>
</footer>
{% endblock footer %}
